{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatBot</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
  
</head>
<body>
  <div class="container">
    <h1>Healthcare Chatbot</h1>
    {% if user.is_authenticated %}
    <div class="chat-history">
      {% if prompt %}
      <div class="message user">
          <p>{{ prompt }}</p>
      </div>
      {% endif %}
      {% if response %}
      <div class="message bot">
          <p>{{ response }}</p>
      </div>
      {% endif %}
    </div>
    {% else %}
    <form class="user-input" action="chat" method="post">
      {% csrf_token %}
      <input type="text" name = "message" placeholder="Type your message...">
      <button type="submit">Send</button>
    </form>
    {% endif %}
  </div>
</body>
</html>